<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CommonConnStr" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=SogenDemoDB;server=.\sql2k8r2"/>
    <add name="ContactsConnStr" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=SogenDemoDB;server=.\sql2k8r2"/>
    <add name="MembersConnStr" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=SogenDemoDB;server=.\sql2k8r2"/>
    <add name="MessagesConnStr" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=SogenDemoDB;server=.\sql2k8r2"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
